*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background: #181818;
    padding: 24px 0px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header .container{
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a{
    border-radius: 14px;
    padding: 11px 20px;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.main_baner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 86px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main_baner_text{
    max-width: 580px;
    padding-bottom: 71px;
}
.subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.backing{
    margin-top: 18px;
}

.bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;
}
.bottom_icon li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.bottom_icon li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/picture.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 7px;
}
.bottom_icon li:nth-child(2):before{
    background-image: url("../images/picture2.svg");
}
.bottom_icon li:nth-child(3):before{
    background-image: url("../images/picture3.svg");
    width: 32px;
}
.bottom_icon li:nth-child(4):before{
    background-image: url("../images/picture4.svg");
    width: 10px;
    height: 16px;
}
/*four_photos*/

.second_baner{
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: black;
}
.second_baner h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.second_baner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.second_baner .four_photos h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.second_baner .four_photos p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 26px;
}
.four_photos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1168px;
}
.one_of_four{
    max-width: 576px;
    position: relative;
    margin-bottom: 16px;
}
.one_of_four img{
    max-width: 100%;
    display: block;
}
.photo_content{
    max-width: 514px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.tolls{
    position: relative;
    background-color: black;
}
.tolls .img_bg{
    width: 50%;
    position: absolute;
    height: 100%;
    background-image: url("../images/img_bg.jpg");
    background-size: cover;
    right: 0;
    top: 0;
}
.tolls .container{
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 540px;
}
.tolls .information{
    max-width: 514px;
}
.tolls .information h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 4px;
}
.tolls .information h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.tolls .information p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/*three section*/
.mountain, .monstera, .sky_mountains{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.mountain{
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    background-position: center;
}
.monstera{
    background-image: url("../images/monstera.jpg");
    background-size: cover;
    background-position: center;
}
.sky_mountains{
    background-image: url("../images/sky_mountains.jpg");
    background-size: cover;
    background-position: center;
}

.mountain_content{
    width: 296px;
    margin-right: 61px;
}
.monstera_content{
    width: 273px;
    margin-right: 87px;
}
.sky_mountains_content{
    width: 254px;
    margin-right: 106px;
}
.baner_subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.mountain_content, .monstera_content, .sky_mountains_content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.past_clients{
    background-color: black;
    max-height: 500px;
    padding-top: 113px;
    padding-bottom: 140px;
}
.past_clients h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.past_clients .container{
    max-width: 1076px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.past_clients a img{
    max-width: 128px;
    align-items: center;
}
 .owl-item{
    text-align: center;
}
 .owl-stage{
     display: flex;
     align-items: center;
 }
.owl-nav .owl-per:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    color: #FFFFFF;
    font-size: 30px;
}
.owl-nav .owl-prev{
    position: absolute;
    left: -30px;
    top: 30px;
}
.owl-nav .owl-prev:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    color: #FFFFFF;
    font-size: 30px;
}
.owl-nav .owl-next{
    position: absolute;
    right: -30px;
    top: 30px;
}
.owl-nav .owl-next:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    color: #FFFFFF;
    font-size: 30px;
    transform: rotate(180deg);
    display: inline-block;
}
#dialog{
    background: black;
}
#dialog p{
    color: #FFFFFF;
}
/*baner_before_footer*/
.baner_before_footer{
    background: #000000;
}
.baner_before_footer_content{
    max-width: 571px;
    margin: auto;
    padding-top: 113px;
    padding-bottom: 108px;
    text-align: center;
}
.before_footer_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
}
.before_footer_subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    padding-top: 15px;
    padding-bottom: 31px;
}
.btn{
    display: flex;
    align-items: center;
    max-width: 143px;
    justify-content: center;
    border-radius: 15px;
    padding: 9px 10px 13px 6px;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
    text-decoration: none;
}
.btn::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
    display: inline-block;
}
.baner_before_footer_content a{
    margin: auto;
    max-width: 154px;
}

footer{
    padding: 100px 0;
    background-color: black;
}
footer .container{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #FFFFFF;
    padding-bottom: 26px;
}
footer .container:last-of-type{
    border: none;
    margin-top: 56px;
}
footer .container p:last-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

footer .container:last-of-type ul{
    display: flex;
    list-style: none;
}
footer .container:last-of-type li{
    margin-left: 25px;
}
footer .right_submenu{
    display: flex;
    align-items: flex-start;
}
footer .right_submenu ul{
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
footer .right_submenu a{
    text-decoration: none;
    color: #FFFFFF;
}
footer .right_submenu ul:first-of-type{
    margin-right: 55px;
}
footer .right_submenu ul:last-of-type{
    margin-right: 100px;
}
footer .right_submenu ul li{
    margin-bottom: 10px;
}
footer .right_submenu ul li:first-of-type{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
footer .left_logo h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer .container:nth-child(2){
    margin-top: 36px;
    margin-bottom: 36px;
}
footer .left_logo p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 20px;
}

footer form{
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    max-width: 458px;
    width: 100%;
    height: 52px;
    padding: 11px 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer form .form_control{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 80%;
    display: inline-block;
}
footer form button{
    background-color: black;
    height: 30px;
    border: none;
    border-radius: 11px;
    width: 63px;
    cursor: pointer;
}